<a href="https://colab.research.google.com/github/MatteoBettini/Stock-Market-Prediction-2020/blob/main/notebooks/Data%20exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Take-home Assessment

# Dataset exploration

In this section we will upload and explore the dataset "**Processed_NASDAQ**",  containing several daily features of NASDAQ Composite from 2010 to 2017. The dataset was acquired from [this repository](https://archive.ics.uci.edu/ml/datasets/CNNpred%3A+CNN-based+stock+market+prediction+using+a+diverse+set+of+variables#).

It covers features from various categories of technical indicators, future contracts, price of commodities, important indices of markets around the world, price of major companies in the U.S. market, and treasury bill rates. Sources and thorough description of features have been mentioned in the paper "[CNNpred: CNN-based stock market prediction using a diverse set of variables](https://arxiv.org/pdf/1810.08923.pdf)".

## Imports

In [1]:
# To plot figures
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

# To make this notebook's output stable across runs
np.random.seed(42)

## Loading the dataset

In [2]:
nasdaq_url = 'https://raw.githubusercontent.com/MatteoBettini/Stock-Market-Prediction-2020/main/stock_markets_datasets/Processed_NASDAQ.csv?token=ANHXQQK4VPBE6ABSBCHTF5K74UP3W'
dji_url = 'https://raw.githubusercontent.com/MatteoBettini/Stock-Market-Prediction-2020/main/stock_markets_datasets/Processed_DJI.csv?token=ANHXQQOXYQZSSSTVFKX6RZS74XDXA'
nyse_url = 'https://raw.githubusercontent.com/MatteoBettini/Stock-Market-Prediction-2020/main/stock_markets_datasets/Processed_NYSE.csv?token=ANHXQQNAISMPCLVLRTGNJBC74XD2C'
russel_url = 'https://raw.githubusercontent.com/MatteoBettini/Stock-Market-Prediction-2020/main/stock_markets_datasets/Processed_RUSSELL.csv?token=ANHXQQPGLBLSM3B36OLWIPC74XD3U'
s_p_url = 'https://raw.githubusercontent.com/MatteoBettini/Stock-Market-Prediction-2020/main/stock_markets_datasets/Processed_S%26P.csv?token=ANHXQQNRFS3NKP2XCF5Q5MS74XD5K'

In [14]:
nasdaq_df = pd.read_csv(nyse_url)
# Dataset is now stored in a Pandas Dataframe

## Exploring the dataset

Now that we have loaded the dataset we can start inspecting the data.

In [15]:
nasdaq_df.head(10)

         Date        Close    Volume  ...  wheat-F   XAG   XAU
0  2009-12-31  7184.959961       NaN  ...    -0.48  0.30  0.39
1  2010-01-04  7326.740234  0.921723  ...     3.12  3.91  2.10
2  2010-01-05  7354.870117 -0.375903  ...    -0.90  1.42 -0.12
3  2010-01-06  7377.700195  0.996234  ...     2.62  2.25  1.77
4  2010-01-07  7393.930176  0.059932  ...    -1.85  0.22 -0.58
5  2010-01-08  7425.350098 -0.167168  ...     2.07  1.26  0.38
6  2010-01-11  7449.049805 -0.030483  ...     1.08  0.65  1.44
7  2010-01-12  7370.450195  0.108178  ...    -6.33 -1.78 -2.19
8  2010-01-13  7430.140137 -0.115730  ...    -0.51  1.97  0.98
9  2010-01-14  7448.520020 -0.061184  ...    -1.49  0.32  0.39

[10 rows x 84 columns]

Taking a peak at the first five elements we can already see that there are a lot of missing values. They will be treated accordingly in the section regarding data transofrmations.

We can also see that the dates inculuded in the dataset are referring only to working days as the stock market is open only on those days.

We can get a confirmation of this by looking at the following rows where we see that 16,17 January 2010 are not present because it was a weekend and 18 January 2010 is not present because of the federal U.S. festivity of "Martin Luther King Jr. Day".

This is not a problem for our machine leraning pipeline as we will translate 'Date' feature into a categorical feature representing the day of the week

In [16]:
nasdaq_df.iloc[9:13]

          Date        Close    Volume  ...  wheat-F   XAG   XAU
9   2010-01-14  7448.520020 -0.061184  ...    -1.49  0.32  0.39
10  2010-01-15  7356.790039  0.215450  ...    -3.27 -1.45 -1.08
11  2010-01-19  7443.680176 -0.007124  ...    -2.08  0.70  0.45
12  2010-01-20  7329.830078  0.018145  ...    -2.08 -4.69 -2.32

[4 rows x 84 columns]

### Features

The datasets described in [the paper](https://arxiv.org/pdf/1810.08923.pdf) contains 1984 entries each representing a day of trading in the stock market. Each entry has 82 features which are grouped in the following way:

*   Primitive features
*   Technical indicators
*   Economic data
*   World stock markets
*   The exchange rate of U.S. dollar
*   Commodities
*   Big U.S. Companies
*   Futures contracts

The authora have made available five datasets, each representing a different stock market. The available markets are: S&P 500, NASDAQ Composite, Dow Jones Industrial Average, RUSSELL 2000, and NYSE Composite. In this work we will explore and analyse NASDAQ Composite, but the insighta we gain will be valid for all datasets.

The primitive featrues and the technical indicators are unique for each dataset, while all the other features are common among datasets.

A tabular description of the features is also reported in the following images.

<img src="https://raw.githubusercontent.com/MatteoBettini/Stock-Market-Prediction-2020/main/feature_description/feature_table_1.png?token=ANHXQQI7BINXDEPRGLZ42LS74XAH6" width="2000">
<img src="https://raw.githubusercontent.com/MatteoBettini/Stock-Market-Prediction-2020/main/feature_description/feature_table_2.png?token=ANHXQQOG2ZP4BPHXIWXNWWK74XAKY" width="2000">

By looking at the info we can see the types of the features and the number of non-null values.

In [17]:
nasdaq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1984 entries, 0 to 1983
Data columns (total 84 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1984 non-null   object
 1   Close           1984 non-null   float64
 2   Volume          1983 non-null   float64
 3   mom             1983 non-null   float64
 4   mom1            1982 non-null   float64
 5   mom2            1981 non-null   float64
 6   mom3            1980 non-null   float64
 7   ROC_5           1979 non-null   float64
 8   ROC_10          1974 non-null   float64
 9   ROC_15          1969 non-null   float64
 10  ROC_20          1964 non-null   float64
 11  EMA_10          1975 non-null   float64
 12  EMA_20          1965 non-null   float64
 13  EMA_50          1935 non-null   float64
 14  EMA_200         1785 non-null   float64
 15  DTB4WK          1984 non-null   float64
 16  DTB3            1984 non-null   float64
 17  DTB6            1984 non-null   float64
 18  DGS5            1984 non-null   float64
 19  DGS10           1984 non-null   float64
 20  Oil             1983 non-null   float64
 21  Gold            1983 non-null   float64
 22  DAAA            1984 non-null   float64
 23  DBAA            1984 non-null   float64
 24  GBP             1506 non-null   float64
 25  JPY             1505 non-null   float64
 26  CAD             1501 non-null   float64
 27  CNY             1505 non-null   float64
 28  AAPL            1983 non-null   float64
 29  AMZN            1983 non-null   float64
 30  GE              1983 non-null   float64
 31  JNJ             1983 non-null   float64
 32  JPM             1983 non-null   float64
 33  MSFT            1983 non-null   float64
 34  WFC             1983 non-null   float64
 35  XOM             1983 non-null   float64
 36  FCHI            1944 non-null   float64
 37  FTSE            1913 non-null   float64
 38  GDAXI           1917 non-null   float64
 39  DJI             1983 non-null   float64
 40  HSI             1814 non-null   float64
 41  IXIC            1983 non-null   float64
 42  SSEC            1746 non-null   float64
 43  S&P             1983 non-null   float64
 44  RUT             1983 non-null   float64
 45  TE1             1984 non-null   float64
 46  TE2             1984 non-null   float64
 47  TE3             1984 non-null   float64
 48  TE5             1984 non-null   float64
 49  TE6             1984 non-null   float64
 50  DE1             1984 non-null   float64
 51  DE2             1984 non-null   float64
 52  DE4             1984 non-null   float64
 53  DE5             1984 non-null   float64
 54  DE6             1984 non-null   float64
 55  CTB3M           1983 non-null   float64
 56  CTB6M           1983 non-null   float64
 57  CTB1Y           1983 non-null   float64
 58  Name            1984 non-null   object
 59  AUD             1984 non-null   float64
 60  Brent           1984 non-null   float64
 61  CAC-F           1980 non-null   float64
 62  copper-F        1984 non-null   float64
 63  WIT-oil         1984 non-null   float64
 64  DAX-F           1980 non-null   float64
 65  DJI-F           1984 non-null   float64
 66  EUR             1984 non-null   float64
 67  FTSE-F          1978 non-null   float64
 68  gold-F          1984 non-null   float64
 69  HSI-F           1909 non-null   float64
 70  KOSPI-F         1905 non-null   float64
 71  NASDAQ-F        1984 non-null   float64
 72  GAS-F           1984 non-null   float64
 73  Nikkei-F        1984 non-null   float64
 74  NZD             1984 non-null   float64
 75  silver-F        1984 non-null   float64
 76  RUSSELL-F       1984 non-null   float64
 77  S&P-F           1984 non-null   float64
 78  CHF             1984 non-null   float64
 79  Dollar index-F  1984 non-null   float64
 80  Dollar index    1984 non-null   float64
 81  wheat-F         1982 non-null   float64
 82  XAG             1984 non-null   float64
 83  XAU             1984 non-null   float64
dtypes: float64(82), object(2)
memory usage: 1.3+ MB

As already mentioned, all features are floats except for Date and Name which are strings.

In [ ]:
def series_to_supervised(data, n_in, dropnan=False):
    """
    Frame a time series as a supervised learning dataset.
    Arguments:
        data: Sequence of observations as a list or NumPy array.
        n_in: Number of lag observations as input (X).
        dropnan: Boolean whether or not to drop rows with NaN values.
    Returns:
        Pandas DataFrame of series framed for supervised learning.
    """
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t)
    cols.append(df.iloc[:][0] - df.shift(1).iloc[:][0])

    names += ['target']
  
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [ ]:
dataset_url = 'https://raw.githubusercontent.com/MatteoBettini/Stock-Market-Prediction-2020/main/stock_markets_datasets/Processed_NASDAQ.csv?token=ANHXQQK4VPBE6ABSBCHTF5K74UP3W'
nasdaq_df = pd.read_csv(dataset_url)
# Dataset is now stored in a Pandas Dataframe
nasdaq_df.info()
nasdaq_df = nasdaq_df.drop(columns=['Date','Name'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1984 entries, 0 to 1983
Data columns (total 84 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1984 non-null   object
 1   Close           1984 non-null   float64
 2   Volume          1983 non-null   float64
 3   mom             1983 non-null   float64
 4   mom1            1982 non-null   float64
 5   mom2            1981 non-null   float64
 6   mom3            1980 non-null   float64
 7   ROC_5           1979 non-null   float64
 8   ROC_10          1974 non-null   float64
 9   ROC_15          1969 non-null   float64
 10  ROC_20          1964 non-null   float64
 11  EMA_10          1975 non-null   float64
 12  EMA_20          1965 non-null   float64
 13  EMA_50          1935 non-null   float64
 14  EMA_200         1785 non-null   float64
 15  DTB4WK          1984 non-null   float64
 16  DTB3            1984 non-null   float64
 17  DTB6            1984 non-null   float64
 18  DGS5            1984 non-null   float64
 19  DGS10           1984 non-null   float64
 20  Oil             1983 non-null   float64
 21  Gold            1983 non-null   float64
 22  DAAA            1984 non-null   float64
 23  DBAA            1984 non-null   float64
 24  GBP             1506 non-null   float64
 25  JPY             1505 non-null   float64
 26  CAD             1501 non-null   float64
 27  CNY             1505 non-null   float64
 28  AAPL            1983 non-null   float64
 29  AMZN            1983 non-null   float64
 30  GE              1983 non-null   float64
 31  JNJ             1983 non-null   float64
 32  JPM             1983 non-null   float64
 33  MSFT            1983 non-null   float64
 34  WFC             1983 non-null   float64
 35  XOM             1983 non-null   float64
 36  FCHI            1944 non-null   float64
 37  FTSE            1913 non-null   float64
 38  GDAXI           1917 non-null   float64
 39  GSPC            1983 non-null   float64
 40  HSI             1814 non-null   float64
 41  DJI             1983 non-null   float64
 42  SSEC            1746 non-null   float64
 43  RUT             1983 non-null   float64
 44  NYSE            1983 non-null   float64
 45  TE1             1984 non-null   float64
 46  TE2             1984 non-null   float64
 47  TE3             1984 non-null   float64
 48  TE5             1984 non-null   float64
 49  TE6             1984 non-null   float64
 50  DE1             1984 non-null   float64
 51  DE2             1984 non-null   float64
 52  DE4             1984 non-null   float64
 53  DE5             1984 non-null   float64
 54  DE6             1984 non-null   float64
 55  CTB3M           1983 non-null   float64
 56  CTB6M           1983 non-null   float64
 57  CTB1Y           1983 non-null   float64
 58  Name            1984 non-null   object
 59  AUD             1984 non-null   float64
 60  Brent           1984 non-null   float64
 61  CAC-F           1980 non-null   float64
 62  copper-F        1984 non-null   float64
 63  WIT-oil         1984 non-null   float64
 64  DAX-F           1980 non-null   float64
 65  DJI-F           1984 non-null   float64
 66  EUR             1984 non-null   float64
 67  FTSE-F          1978 non-null   float64
 68  gold-F          1984 non-null   float64
 69  HSI-F           1909 non-null   float64
 70  KOSPI-F         1905 non-null   float64
 71  NASDAQ-F        1984 non-null   float64
 72  GAS-F           1984 non-null   float64
 73  Nikkei-F        1984 non-null   float64
 74  NZD             1984 non-null   float64
 75  silver-F        1984 non-null   float64
 76  RUSSELL-F       1984 non-null   float64
 77  S&P-F           1984 non-null   float64
 78  CHF             1984 non-null   float64
 79  Dollar index-F  1984 non-null   float64
 80  Dollar index    1984 non-null   float64
 81  wheat-F         1982 non-null   float64
 82  XAG             1984 non-null   float64
 83  XAU             1984 non-null   float64
dtypes: float64(82), object(2)
memory usage: 1.3+ MB

In [ ]:
data = series_to_supervised(nasdaq_df.values, 40)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1984 entries, 0 to 1983
Columns: 3281 entries, var1(t-40) to target
dtypes: float64(3281)
memory usage: 49.7 MB